h4{
    font-size:15px;
}
p:hover {
    background-color:blue;
  }
h4{
    color:darkred;
}
h2{
    color:black;
}
h2{
    font-size:20px;
}

p{
    color:gold;
}
span{
    color:green;
}
span:hover{
    background-color:burlywood;
}
h3{
    font-style: italic;
}

h4{
    font-style: inherit;
}
.chorus{
font-size:20px;
color:goldenrod;
}
.hello{
    font-size:10;
    color:greenyellow;
}
.character{
    font-size:10px;
    color:hotpink;
}
th, td {
    border: 1px solid black;
  }
     h2:hover{
          color:blueviolet;
     }

   h2{
    
        text-shadow: 2px 3px 5px indigo;
   }
   
  th,td {
    width:200px;
    padding:0px 4px 4px 4px;
    margin: -28px 0px -10px 100px;
    background: lightblue;
    border-top: 2px solid #000;
    border-right: 4px dashed silver;
    border-bottom: 8px double orangered;
    border-left: 16px inset purple;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: end;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:blueviolet;
  }